.card {
  background: rgba(0, 0, 0, 0.85); /* 半透明背景 */
  backdrop-filter: blur(10px); /* 模糊效果 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cover {
  background: rgba(0, 0, 0, 0.4); /* 半透明背景 */
  backdrop-filter: blur(10px); /* 模糊效果 */
  /* 其他样式（如边框、圆角等）*/
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

strong {
  @apply hover:scale-105 hover:hue-rotate-[540deg] bg-clip-text text-transparent bg-transparent px-[0.1rem] font-semibold transition-all duration-700;
  background: linear-gradient(62deg, #ec4899, #4c0519);
  background-clip: text;
  color: transparent;
}

.showStand {
  background-image: url('/public/展示.png'); /* 替换为你的图片路径 */
  background-size: cover; /* 确保图片覆盖整个元素 */
  background-position: center; /* 图片居中显示 */
  background-repeat: no-repeat; /* 图片不重复 */
}
